.song_item {
  border-bottom: 1px solid lightgray;
    counter-increment: step-counter;
    margin: 10px;
}

.song_item::before {
  content: counter(step-counter);
  margin-right: 10px;
  background-color: rgb(200,200,200);
  color: #FF5722;
  font-weight: bold;
  padding: 1px 8px;
}
