.artist_item_container{
  display: inline-block;
}

.artist_item{
  margin: 10px;
  width: 150px;
  height: 150px;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.artist_item:hover{
  transform: scale(1.05);
}

.artist_item_img{

  height: 60%;
  width: 60%;
}
